*,
html,
body {
  margin: 0;
  padding: 0;
}

.landingpage {
  background-image: url(/public/main-bg-figma.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.wrapperUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 80%;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 80%;
}

.contenth1 {
  margin-bottom: 50px;
}

.contenth3 {
  margin-bottom: 50px;
}

.wrapperDown {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.facaretdown {
  color: white;
}